Repository CodeSystem2022/Grupo_Programacion-UTN-CuartoSemestre, pull requests merged in 2023-10, with the labels that each got.

#79 Commit 7.1 a 7.3 Java Avanzado
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/modelo/Libro.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/repositorio/LibroRepositorio.java
Labels: Java avanzado, Metodología de Sistemas

#80 Commit clase Java Avanzado 7.4 a 7.6
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/servicio/ILibroServicio.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/servicio/LibroServicio.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.form
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java avanzado, Metodología de Sistemas

#82 Create dar_formato-str.py
  Python/Clase01/dar_formato-str.py
Labels: Python 4S

#83 Create f_string.py
  Python/Clase01/f_string.py
Labels: Python 4S

#85 Update monohilo.js
  Node/01-Hola-Mundo/monohilo.js
Labels: Nodejs 4S, Base de Datos 4S

#84 Update entorno.js
  Node/01-Hola-Mundo/entorno.js
Labels: Nodejs 4S, Base de Datos 4S

#93 js
  JavaScript/PERN STACK/database/init.sql
Labels: Laboratorio VI, JavaScript 4S

#94 commit 8.1.8.2
  Node/02-Fundmentos_node/async/callback.js
Labels: Metodología de Sistemas, Nodejs 4S

#95 commit 8.3-8.5
  Node/02-Fundmentos_node/async/callback.js
Labels: Metodología de Sistemas, Nodejs 4S

#105 Update LibroFrom.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java avanzado, Metodología de Sistemas

#106 Update TiendaLibrosApplication.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
Labels: Java avanzado, Metodología de Sistemas

#112 Update LibroFrom.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java avanzado, Metodología de Sistemas

#107 Create Clase9-Callbackhell
  Node/Clase9-Callbackhell
Labels: Metodología de Sistemas, Nodejs 4S

#113 Update LibroFrom.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java avanzado, Metodología de Sistemas

#114 Update auth.controller.js
  JavaScript/PERN STACK/src/controllers/auth.controller.js
Labels: Laboratorio IV, JavaScript 4S

#115 Commit clase 08
  JavaScript/PERN STACK/frontend/README.md
  JavaScript/PERN STACK/frontend/index.html
  JavaScript/PERN STACK/frontend/package-lock.json
  JavaScript/PERN STACK/frontend/package.json
  JavaScript/PERN STACK/frontend/public/vite.svg
  JavaScript/PERN STACK/frontend/src/App.jsx
  JavaScript/PERN STACK/frontend/src/assets/react.svg
  JavaScript/PERN STACK/frontend/src/index.css
  JavaScript/PERN STACK/frontend/src/main.jsx
  JavaScript/PERN STACK/frontend/src/pages/AboutPage.jsx
  JavaScript/PERN STACK/frontend/src/pages/HomePage.jsx
  JavaScript/PERN STACK/frontend/src/pages/LoginPage.jsx
  JavaScript/PERN STACK/frontend/src/pages/ProfilePage.jsx
  JavaScript/PERN STACK/frontend/src/pages/RegisterPage.jsx
  JavaScript/PERN STACK/frontend/src/pages/TareaFormPage.jsx
  JavaScript/PERN STACK/frontend/src/pages/TareasPage.jsx
  JavaScript/PERN STACK/frontend/src/tailwind.config.js
  JavaScript/PERN STACK/frontend/vite.config.js
Labels: Laboratorio IV, JavaScript 4S

#117 Update Clase9-Callbackhell
  Node/Clase9-Callbackhell
Labels: Metodología de Sistemas, Nodejs 4S

#119 Update LibroFrom.java
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java avanzado, Metodología de Sistemas

#122 Add files via upload
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/mvnw
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/mvnw.cmd
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/pom.xml
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/TodoAppApplication.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/context/CorsConfig.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/context/OpenApiConfig.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/controller/TaskController.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/exceptions/ExceptionHandler.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/exceptions/ToDoExceptions.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/model/dto/request/TaskRequestDTO.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/model/dto/response/TaskResponseDTO.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/model/entity/Task.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/model/mapper/TaskMapper.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/repository/TastkRepository.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/service/ITaskService.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/java/ar/com/utnfrsr/todoapp/service/impl/TaskService.java
  ProyectosJava/ToDo_Front_-_API-main/Back/ToDo API/src/main/resources/application.yml
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/css/styles.css
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/img/rocket.svg
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/img/utn.png
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/components/addTask.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/components/checkComplete.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/components/dateElement.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/components/deleteIco.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/components/displayTasks.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/data/checkTask.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/data/deleteTask.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/data/getTasks.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/data/path.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/data/sendTask.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/script.js
  ProyectosJava/ToDo_Front_-_API-main/Front/assets/script/service/date.js
  ProyectosJava/ToDo_Front_-_API-main/Front/index.html
  ProyectosJava/ToDo_Front_-_API-main/README.md
  ProyectosJava/ToDo_Front_-_API-main/Tasks.postman_collection.json
  ProyectosJava/ToDo_Front_-_API-main/db_todo_api.sql
Labels: Java avanzado
