Repository CodeSystem2022/Grupo_Programacion-UTN-CuartoSemestre, pull requests merged in 2023-09, with the labels that each got.

#24 Commit clase 23 de agosto Node
  Node/01-Hola-Mundo/app.js
Labels: Metodología de Sistemas, Nodejs 4S

#26 Node clase 30 de agosto
  Node/01-Hola-Mundo/app2.js
  Node/01-Hola-Mundo/app3.js
Labels: Metodología de Sistemas, Nodejs 4S

#27 Creación de Estudiante.java
  ProyectosJava/Leccion01/estudiantes/src/test/java/utn/estudiantes/Estudiante.java
Labels: Java avanzado, Metodología de Sistemas

#28 Create Tipo_float.py
  Python/Clase 02/Tipo_float.py
Labels: Python 4S, Laboratorio VI

#29 Commit de clase 28/08
  Python/Clase01/valores_infinitos.py
Labels: Python 4S, Laboratorio VI

#31 Create Package Servicio
  ProyectosJava/Leccion01/estudiantes/Package Servicio
Labels: Java avanzado, Metodología de Sistemas

#30 Create Repositorio e interface
  ProyectosJava/Leccion01/estudiantes/Repositorio e interface
Labels: Java avanzado, Metodología de Sistemas

#32 Create Class interface
  ProyectosJava/Leccion01/estudiantes/Class interface
Labels: Java avanzado, Metodología de Sistemas

#41 Python 1.1 1.2 parte 1 y 2
  Python/Clase01/tipo_bool.py
  Python/Clase01/tipo_nan.py
Labels: Python 4S, Laboratorio VI

#42 Python puntos 1.2 parte 3, 4, 5
  Python/Clase01/tipo_bool.py
Labels: Python 4S, Laboratorio VI

#43 Python 1.3 y 1.4
  Python/Clase01/tipo_str.py
Labels: Python 4S, Laboratorio VI

#44 Update cart.js
  e-commerce2022/client/js/client/js/cart.js
Labels: Laboratorio VI, JavaScript 4S

#45 Update cart.js
  e-commerce2022/client/js/client/js/cart.js
Labels: Laboratorio VI, JavaScript 4S

#46 Update styles.css
  e-commerce2022/client/js/client/media/styles.css
Labels: Laboratorio VI, CSS

#47 Update cart.js
  e-commerce2022/client/js/client/js/cart.js
Labels: Laboratorio VI, JavaScript 4S

#48 Sistema estudiantes con Java Springboot
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/HELP.md
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/estudiantes.iml
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/mvnw
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/mvnw.cmd
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/pom.xml
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/java/utn/estudiantes/modelo/Estudiantes2022.java
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/java/utn/estudiantes/repositorio/EstudianteRepositorio.java
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/java/utn/estudiantes/servicio/EstudianteServicio.java
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/java/utn/estudiantes/servicio/IEstudianteServicio.java
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/resources/application.properties
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/main/resources/logback-spring.xml
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/application.properties
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/logback-spring.xml
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/utn/estudiantes/EstudiantesApplication.class
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/utn/estudiantes/modelo/Estudiantes2022.class
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/utn/estudiantes/repositorio/EstudianteRepositorio.class
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/utn/estudiantes/servicio/EstudianteServicio.class
  ProyectosJava/Leccion01/estudiantes/estudiantes/estudiantes/target/classes/utn/estudiantes/servicio/IEstudianteServicio.class
Labels: Java avanzado

#54 Create monohilo.js
  Node/01-Hola-Mundo/monohilo.js
Labels: Nodejs 4S

#59 commit 1
  e-commerce2022/client/js/client/js/cart.js
Labels: Laboratorio VI, JavaScript 4S

#60 Add files via upload
  e-commerce2022/client/js/server/serve.js
Labels: Laboratorio VI, JavaScript 4S

#63 Update cart.js
  e-commerce2022/client/js/client/js/cart.js
Labels: Laboratorio VI, JavaScript 4S

#62 Add files via upload
  Base de datos/columna.css
Labels: Base de Datos 4S

#66 Create application.properties
  ProyectosJava/Leccion01/estudiantes/Leccion03/application.properties
Labels: Java avanzado

#67 Clase05
  Python/Clase01/doc_srt.py
  Python/Clase01/mi_clase.py
  Python/Clase01/str_inmutable.py
Labels: Python 4S, Laboratorio VI

#68 Python 5.4
  Python/Clase01/metodo_join.py
Labels: Python 4S, Laboratorio VI

#69 Python 5.5
  Python/Clase01/metodo_split.py
Labels: Python 4S, Laboratorio VI

#70 java avanzado
  ProyectosJava/Leccion03/tienda_libros/HELP.md
  ProyectosJava/Leccion03/tienda_libros/mvnw
  ProyectosJava/Leccion03/tienda_libros/mvnw.cmd
  ProyectosJava/Leccion03/tienda_libros/pom.xml
  ProyectosJava/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  ProyectosJava/Leccion03/tienda_libros/src/main/resources/application.properties
  ProyectosJava/Leccion03/tienda_libros/src/main/resources/logback-spring.xml
  ProyectosJava/Leccion03/tienda_libros/src/test/java/utn/tienda_libros/TiendaLibrosApplicationTests.java
Labels: Java avanzado
